{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/paozy.css" %}">
<title>{% block lohateny %}{% endblock lohateny %}</title>
<header>
    <a class="logo" href="{% url "fandraisana" %}">
        <div class="logo" aria-label="Graphiste Blog logo">
          GasyKa <span class="highlight">Tsara</span>
        </div>
    </a>
    <nav aria-label="Primary navigation">
      <ul>
        <li><a href="{% url "tantara" %}">Tantara</a></li>
        <li><a href="{% url "vohambolana" %}">Vohambolana</a></li>
        <li><a href="#">Kolontsaina</a></li>
        <li><a href="#">Faritra</a></li>
        <li><a href="#">Hanarita-Tsaina</a></li>
      </ul>
    </nav>
    <div class="nav-actions">
      <button class="newsletter-btn" aria-label="S'abonner à la newsletter">
        Vaovao
      </button>
    </div>
  </header>
{% block vatany %}
{% endblock vatany %}

{% block tongony %}{% endblock tongony %}