{% extends "fototra.html" %}
{% block lohateny %}
    GasyKa Tsara | ohabolana
{% endblock lohateny %}
{% block vatany %}
<body id="ohabolana">
  <div class="fototra">
    <button class="styled-button" id="hiditra">Hitady</button>
    <h1>Lisitr'ireo Ohabolana sy Sokajy</h1>
      <div class="ohabolana">
          <h2>Ohabolana rehetra</h2>
          {% for o in ohabolana_lisitra %}
            <div class="ohabolana">
              <p>" {{ o.ohabolana }} "</p>
            </div>
          {% endfor %}
      </div>
  </div>
    <script>
      document.getElementById("hiditra").onclick = function() {
        window.location.href = "{% url "haranitra" %}";
    }
    </script>
</body>
  
{% endblock vatany %}
{% block tongony %}
    <style>
    footer {
    background-color: #388e6c;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  footer hr {
    width: 200px;
    margin: 0 auto 10px auto;
    border: 0;
    border-top: 1px solid white;
  }

  footer strong {
    color: white;
  }
</style>
    <footer>
        <hr>
        <p>&copy; Zo aman-kasina 2025 | <strong>GasyKa Tsara</strong></p>
        <p>Ny kolontsaina no maha Malagasy. Lovantsika, haren-tsika</p>
    </footer>
{% endblock tongony %}



